{% extends "app_music_db/base.html" %}

{% block meta %}
<title>このサイトについて - みんすい</title>
<meta name="description" content="みんすい(みんなで作る吹奏楽音源データベース)は、ユーザー投稿型の音源一覧サイトです。このページではサイトを作るに至ったきっかけや思いについて紹介しています。" />
<meta name="keywords" content="吹奏楽,音源,データベース,DB,about,このサイトについて" />
<link rel="canonical" href="https://mirun.me/about" />
{% endblock %}

{% block content %}
<h2>このサイトについて</h2>
<p>このページでは、管理人である私がこのサイトを立ち上げたきっかけなどについて書いております。ご興味あればお付き合いください。</p>
<p>&nbsp;</p>
<p>もともと自分も長いこと吹奏楽をやってきた身であり、コンクールはもちろんこれまでに色々な世界と関わってきました。今でも1人の吹奏楽ファンであり、愛好家であり、また楽器演奏者でもあります。</p>
<p>中でも「吹奏楽コンクール」というイベントはやはり私にとって特別なものでした。自分が出場しなくなっても毎年演奏を聴きに行くこと自体を楽しみにして各地へ出向いていましたし、その中で会える旧知の友人やお世話になった方たちとの時間は何ものにも代えがたいひとときだと感じていました。</p>
<p>そして当然のごとく「コンクールで聞いた音源を手に入れたい！」となるわけですが、いかんせん<strong>特定の演奏がどのCDに収録されているのか調べるのが大変</strong>という問題がありました。同じ年の同じ部門でさえCDが分かれていますから、ひとつひとつ手当り次第に調べるしか方法がないんですよね。これは同じことを思ったことがある方も多いのではないでしょうか。</p>
<p>そこで「音源から逆引きして該当CDを探せるリストを作ったら需要があるのでは？」と思い至り、紆余曲折を経て現在のこの形となりました。このサイトの設計から実装、保守まで全て私1人でやっています。</p>
<p>せっかく作るならただリスト化するだけでは面白くないと思い、「コンクール以外の全ての音源を対象にしよう」と思ったのはもちろんのこと、</p>
<ul>
    <li>ユーザーのみなさんが好きな音源データを追加できるようにしよう！</li>
    <li>気に入った演奏に対してコメントを残せるようにしたら交流が生まれるのでは？</li>
</ul>
<p>など色々思いつき実際に作ってみました。まだ小規模ですが、今後利用してくださる方が増えれば実利用的にも大きく役に立てるサイトになると自負しております。私は枠組みを作っただけですが、中身のコンテンツはぜひこの文章をお読みのみなさまに盛り上げていただければと思っております…！（別にCD自体を持っていなくてもデータの追加は誰でもできますし！）
</p>
<p>これも何かの縁かと思いますので、ここまで読んでいただいた方にはぜひ当サイトの<a href="https://twitter.com/minsui_database" target="_blank">Twitterアカウント</a>をフォローしていただければ幸いです。これまでbotとして吹奏楽の名演データをつぶやくだけのアカウントでしたが、今後は吹奏楽の趣味アカウントとしても使っていきたいと思っております。このサイトの更新通知などもツイートいたしますのでぜひどうぞ。</p>
<p>お友達にシェアしてくださるという方は最上部の各種SNSアイコンもご利用ください！</p>
<p>&nbsp;</p>
<p>それでは、お読みいただきありがとうございました。引き続き「みんすい」をお楽しみください。</p>
{% endblock %}

