{% extends "app_music_db/base.html" %}

{% block meta %}
<title>プライバシーポリシー - みんすい</title>
<meta name="description" content="みんすい(みんなで作る吹奏楽音源データベース)は、ユーザー投稿型の音源一覧サイトです。このページでは当サイトのプライバシーポリシーについて記載しています。" />
<meta name="keywords" content="吹奏楽,音源,データベース,プライバシーポリシー,privacy,policy" />
<link rel="canonical" href="https://mirun.me/privacy-policy" />
{% endblock %}

{% block content %}
<h2>プライバシーポリシー</h2>
<p>当サイトの管理人は、下記プライバシーポリシーに則りサイト運営を致します。</p>
<h3>このサイトについて</h3>
<p>このサイトのURLドメインは mirun.me です。また、通信はSSL/TLSによってセキュアな接続で保護されており、当サイトへのアクセス、書き込み等によって第三者に情報が漏洩することはありません。</p>
<h3>このサイトが収集する個人データと収集の理由</h3>
<p>当サイトが収集する個人情報と、その利用用途について明らかにします。</p>
<strong>吹奏楽曲の演奏音源データ</strong>
<p>当サイトはユーザー投稿型のデータベースサイトであるため、個々のユーザーがそれぞれ自由に「吹奏楽曲の演奏音源データ」を投稿して登録できます。</p>
<p>ここで言う「吹奏楽曲の演奏音源データ」とはいかなる個人情報も含んでおらず、市場に流通している一般音楽製品の概要情報のみをサイトに集積化していくことが目的です。また、これらの投稿によってユーザーの個人情報が送信されたりすることも一切ありません。</p>
<p>また、ここで得られた個々のデータは吹奏楽業界の発展と利便性のために多くの方に参照されるとともに、管理人が運営する別サイト<a href="https://milmemo.net/" target="_blank" style="color: #4a6b8f;">みるめも</a>の中でも引用として用いられることがあります。</p>
<strong>コメント</strong>
<p>訪問者がこのサイトにコメントを残す際（当サイトでは「ひとこと感想」と呼ぶ）、コメントフォームに記載した「おなまえ」をブラウザにcookieデータとして保存します。これは次回のコメント投稿時に入力を省略できるためだけの機能であり、サーバーに保存されたりすることは一切ありません。また、いかなる理由であっても当サイトのコメント投稿以外の機能に利用することはありません。</p>
<strong>お問い合わせフォーム</strong>
<p>ここで得られた情報（氏名(任意記入)、メールアドレス、件名、内容）は、サイト管理者が確認できる状態となります。ただし情報はこのサイトの利用者とのやりとりの間で、かつ必要最低限の目的にしか使用されません。通信にかかる秘匿性は前述の通り、他者への漏洩の心配はありません。</p>
<strong>Cookie</strong>
<p>サイトにコメント（ひとこと感想）を残す際、入力された「おなまえ」が Cookie に保存されます。また、各種サイト表示内容の記憶なども同様に行われます。これはユーザーのの利便性のためであり、他のコメントを残す際に詳細情報を再入力する手間を省いたりなどします。この Cookie は3年間保持されます。</p>
<strong>アナリティクス</strong>
<p>このサイトのアクセス解析ツールとして、「Google Analytics」を使用しています。データの収集には前述したCookieも利用され、それらの情報をもとにアクセス数、アクセスしている端末の種類、国、閲覧時間等がサイト管理者に通知されます。また、www.aboutads.info にアクセスすると、パーソナライズド広告に使われる第三者配信事業者の Cookie を無効にすることが可能です。</p>
<h3>広告</h3>
<p>当サイトは、以下のような広告を掲載しています。これらの掲載に、上述した各種情報が利用されることがあります。</p>
<strong>Google Adsense</strong>
<p>このブログに存在する広告主（Googleを含む各広告主）は、同じくCookieを利用して掲載する広告を決定しています。</p>
<strong>Amazonアソシエイト</strong>
<p>このブログは「Amazonアソシエイト」に参加しています。</p>
<strong>免責事項</strong>
<p>当サイトからリンクやバナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。</p>
<h3>ユーザーのデータの送信先</h3>
<p>訪問者によるデータの登録・修正・削除リクエスト及びコメントは、自動スパム検出サービスを通じて確認を行う場合があります。</p>
<h3>著作権</h3>
<p>当サイトに存在する、文章・プログラム・画像・動画等の著作物においての全ての情報を無断転載することを禁止します。</p>
<p>記述や音源データ内容等を自サイトで掲載する場合は&lt;blockquote&gt;タグで引用であることを示し、該当ページへのリンクを行うようにしてください。</p>
<p>&nbsp;</p>
<p style="text-align: right;">みんすい - 2020/8/18</p>
{% endblock %}

